* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	font-family: "Sansita", sans-serif;
	background: #35786f74;
}

/* mobile **************************/
header {
	background-color: #bbb;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 80px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}
/* Background image for header */
#header-background{
  /* width:100%; */
  height: auto;
  background:url(https://preview.redd.it/bjbundwu6zg11.jpg?auto=webp&s=642dbdbdb18bbc23c3569c6552c30f3a51ee9f6e)
}

header,
main {
	max-width: 800px;
	margin: 0 auto;
}

h1 {
	font-size: 2rem;
}


nav {
	background-color: #36454f;
	margin: 0 auto;
	max-width: 800px;
}
nav ul {
	list-style-type: none;
}
nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

nav a:hover {
	border: 1px solid #fff;
}
a {
    text-decoration: none;
}

/* section css */
.cards {
  padding: 1rem;
  background: linear-gradient(to bottom left, #f6eff0 40%, #dcdad8 100%);
  }
  
  .card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  }
  
  .card-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  }

  .sidebyside {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 16px;
  }

.picture-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
	margin-right: 20px;
	max-width: 80%;
}

.picture-container img {
    margin-bottom: 15px; /* Adjust this value to add spacing between pictures */
}


.calendar-container {
    margin-left: 20px; /* Increase this value to move the calendar further to the left */
    max-width: 80%; /* Limit the width of the container to avoid it taking up the entire page */
}


iframe {
	/* width: 100px;
	height: 100px; */
	background-color: #ffc7e4;
	position: relative;
	top: 100px;
	left: 20px;
  }



  /* Footer with social media */

footer{
  width:100%;
  height: auto;
}


/* hamburger */
/* Mobile View ***************/
#menu {
	display: block;
	font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	padding: .5rem .75rem;
	background-color: #eee;
	color: #000;
}

#menu::before {
	content: "≡";
}

nav {
	background-color: rgb(94, 230, 121);
}
.navigation {
	list-style: none;
	margin: 0 auto;
	max-width: 760px;
}

.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover, navigation a:active {
	color: white;
	background-color: black;
}

.show li {
	display: block;
}

#menu.show::before {
	content: "X";
}

/* Media Query for wider than mobile viewports. Breakpoint should be based upon the design and content and use em units to be relative to the user's font size versus fixed with pixels.*/
@media only screen and (min-width: 40em) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
	}
	#menu {
		display: none;
	}
}

div.container {
	text-align: center;
	padding: 20px 20px;
  }

  