/* Add a CSS file named 
"base.css" to the "styles" directory. 
This is your main CSS file. */

/* Dark mode */

main {
	margin: 0;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 1rem;
	width: 760px;
	background-color: #eee;
	color: #000;
}


#mode {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
}

/* Header image */
header img {
	padding: 1%;
    width: 25%;
    height: 25%;
}

/* Grid side by side  */
.hero-name {
	text-align: center;
	font-size: 45px;
	width: 300px;
	margin: 0 auto;
  }
   
.text {
	color: black;
	font-size: 1.1rem;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: capitalize;
	margin: 0;
  }
  
.card {
	padding: 1rem;
	background: linear-gradient(to bottom left, #f6eff0 40%, #dcdad8 100%);
  } 
  
.card {
	background-color: white;
	border-radius: 0.25rem;
	box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
	display: flex;
	flex-direction: column;
	overflow: hidden;
  }
  
  .card-list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
  }
   
  
  .sidebyside {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 16px;
  }

   /* number of visit css */

  
   .label {
    font-family: Arial, sans-serif;
    font-weight: 700;
  }
  
  #visitorCount {
    color: navy;
    font-weight: bolder;
    font-size: larger;
  }
  

  #map{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    grid-column: 1/2;

}
#map iframe {
    width: 100%;
    height: 500px; 
}


  
  .sidebar {
	background-color: #f1f1f1;
  }


/* main sidebar discover */
 /* lazy load */
 #gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
  }

  #gallery picture {
    width: 100%;
    height: auto;}



	.stdlf {
		font-weight: 700;border-bottom: 1px solid #777; margin-bottom: 1rem;
	}
	
	
	section {margin: 1rem auto; max-width: 960px;}
	.container {display:grid; grid-template-columns: 1fr 1fr 1fr; grid-gap: 25px;place-items: center;}
	
	figure {background-color:#fff;}
	img { width: 250px; height: auto; margin: .25rem;}
	figcaption {font-size: smaller;}
	/* hover effect */
	.hover:hover {box-shadow: 0 0 50px #333;}
	/* rounded corners - boxmodel */
	.rocorn {border-radius: 15px 150px;}
	/* simple opacity */
	.opac {opacity: .5;}
	.blur {filter: blur(4px);}
	.gray {filter: blur(1px) grayscale(50%);}
	.object {width: 100%; height: 75px ; object-fit: cover;}
	.contrast {filter: contrast(50%);}
	.saturate {filter: saturate(50%);}
	.shape-outside {border-radius: 100px; width:35%; margin: 0 3em .5em 0; float:left; shape-outside: circle();}
	.mbm-difference{mix-blend-mode:difference;}
	.mbm-hard-light{mix-blend-mode:hard-light;}
	
	.mosaic {
		position: relative;
		width: 90%;
	
	}
	
	.mosaic img {
		width: 100%;
		margin: 0;
	}
			
	.pic {
		background: #fff;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-gap: 7px;
		mix-blend-mode: lighten; /* try darken and overlay */
		position: absolute;
		top: 0;
		width: 100%;
	
	}
	.pic div {background: #000;	height: 18.5vw;	max-height: 640px;}
	
	.pic div:nth-of-type(3), .pic div:nth-of-type(8), .pic div:nth-of-type(13)  {	grid-column: 3/5; }	


	/* Date simple css */
	p {
		margin: 1rem;
		display: flex;
	}
	
	.label {
		display: block;
		width: 175px;
		font-weight: 700;
		color: navy;
		text-align: right;
		margin-right: 10px;
	}
	
	.smaller {
		font-size: smaller;
	}