/* Add a CSS file named 
"base.css" to the "styles" directory. 
This is your main CSS file. */

/* Dark mode */

main {
	margin: 0;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 1rem;
	width: 760px;
	background-color: #eee;
	color: #000;
}


#mode {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
}

/* Header image */
header img {
	padding: 1%;
    width: 25%;
    height: 25%;
}

/* Grid side by side  */
.hero-name {
	text-align: center;
	font-size: 45px;
	width: 300px;
	margin: 0 auto;
  }
   
.text {
	color: black;
	font-size: 1.1rem;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: capitalize;
	margin: 0;
  }
  
.card {
	padding: 1rem;
	background: linear-gradient(to bottom left, #f6eff0 40%, #dcdad8 100%);
  } 
  
.card {
	background-color: white;
	border-radius: 0.25rem;
	box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
	display: flex;
	flex-direction: column;
	overflow: hidden;
  }
  
  .card-list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
  }
   
  
  .sidebyside {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 16px;
  }

   /* number of visit css */

  
   .label {
    font-family: Arial, sans-serif;
    font-weight: 700;
  }
  
  #visitorCount {
    color: navy;
    font-weight: bolder;
    font-size: larger;
  }
  

  #map{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    grid-column: 1/2;

}
#map iframe {
    width: 100%;
    height: 500px; 
}


  
  .sidebar {
	background-color: #f1f1f1;
  }


/* main sidebar discover */
.container {
	display: grid;
	grid-template-columns: 1fr 3fr; /* Sidebar takes 1/4 and Main content takes 3/4 of the container */
	grid-gap: 20px; /* Gap between the sidebar and main content */
  }
  
  .sidebar {
	background-color: #f2f2f2;
	padding: 20px;
  }
  
  .main-content {
	padding: 20px;
  }
  
  /* Media query for mobile view */
  @media (max-width: 600px) {
	.container {
	  grid-template-columns: 1fr; /* Switch to single column layout */
	}
	
	.sidebar {
	  order: 2; /* Move the sidebar below the main content in mobile view */
	}
  }